body{
  background-color: #fff;
  color: #fff;
}

#info{
  z-index: 99999;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  left: 10px;
}

#info p{
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: #fff;
  margin-top: -10px;
}
